.captured-pieces-container {
    display: flex;
    justify-content: start;
    margin-bottom: 20px; /* Para as peças brancas capturadas acima do tabuleiro */
    margin-top: 20x; /* Para as peças pretas capturadas abaixo do tabuleiro */
}

.captured-pieces {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0px;
    justify-content: center;
    position: relative;
    margin-top: 10px;
}

.diff-display {
    font-size: 25px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    margin-right: 10px; /* Espaço entre o número e as peças */
    align-self: center;
}


.captured-pieces img {
    width: 50px;
    height: 50px;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    width: 560px;   
    height: 560px;
    background-color: #779556;
}
