.captured-pieces-container {
    display: flex;
    justify-content: start;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 15px;
}

.captured-pieces {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0px;
    justify-content: center;
    position: relative;
    margin-top: 10px;
}


.captured-pieces img {
    width: 40px;
    height: 40px;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    width: 560px;   
    height: 560px;
    background-color: #779556;
}
